# Day-1

- setting-up our own environment for different projects.

In [1]:
print("Hello,World")

Hello,World

## PYTHON
- It is Case Sensitive

In [2]:
ord('S')

83

In [3]:
ord('s')

115

In [4]:
ord('sameer')

TypeError: ord() expected a character, but string of length 6 found

### Data Types
- int float bool str

- check data type "print(type(check))"

In [5]:
print(type(0.44))

<class 'float'>

In [6]:
print(type(00.44))

<class 'float'>

In [7]:
print(type(0.4.4))

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2021378794.py, line 1)

In [8]:
print(type(true))

NameError: name 'true' is not defined

In [9]:
print(type(5==5))

<class 'bool'>

In [ ]:
print(type(1,0.44))

TypeError: type() takes 1 or 3 arguments

In [ ]:
print(type(1,0.44,"a"))

TypeError: type.__new__() argument 1 must be str, not int

# Day-2

In [10]:
str1="Sameer"
print(str1[0])

S

In [11]:
print(str1[0:3])

Sam

In [12]:
print(str1[:-7:-1])

reemaS

## Varibles

In [13]:
string1= 123
volume=22
name='Sam'
session=2
ok=4.44

In [14]:
print(name)

Sam

In [15]:
#Override 
a=10
a=11
a=12

print(a)

12

In [16]:
#Print values of 5,10,15 to the variables a b and c at single line
a,b,c =5,10,15

print(a,b,c)

5 10 15

In [17]:
a,b =5,10,15

ValueError: too many values to unpack (expected 2)

In [18]:
a =5,10,15

In [19]:
print(a)

(5, 10, 15)

In [20]:
intro='Hello my name is Sameer. Learning Basics of python'
print(len(intro))

50

### Splice

In [21]:
print(intro[3:16]) #Slice

lo my name is

In [22]:
print(intro.split()) #Split

['Hello', 'my', 'name', 'is', 'Sameer.', 'Learning', 'Basics', 'of', 'python']

In [23]:
name="Thalapathy Vijay"

In [24]:
name[::-1]

'yajiV yhtapalahT'

In [25]:
name[-16:-6]   #'Thalapathy'

'Thalapathy'

- Type Casting: Converting from one data type to another data type

In [26]:
hello= 88

print(float(hello))
print(str(hello))
print(bool(hello))

88.0
88
True

In [ ]:
now= 4.44

print(int(now))
print(str(now))
print(bool(now))

In [ ]:
str1 = "sameer"

print(int(str1))
print(float(str1))

In [ ]:
str1 = "1234"

print(int(str1))
print(float(str1))

In [ ]:
a,b = 45,55
print(a+b)

In [ ]:
a= int(input(print("Give me a number:")))
b= int(input(print('Give me b number:')))
print(f"Sum of {a} and {b}: {a+b}")

- Read about Split,Strip and Join

# Day-3

## Strings

In [ ]:
name = "SAM"
print(name.lower())

sam

In [ ]:
intro = "hello my name is sameer. can i know ur name"
print(intro.capitalize())

Hello my name is sameer. can i know ur name

In [ ]:
print(intro.title())

Hello My Name Is Sameer. Can I Know Ur Name

In [ ]:
print(intro.replace("can i","i want to"))

hello my name is sameer. i want to know ur name

In [ ]:
print(intro.find("sameer"))  #gives index value

17

In [ ]:
a='123'
a.isalpha()

False

In [ ]:
a.isalnum()

True

In [ ]:
ok = "    w   efff   "
print(ok.strip())

w   efff

In [ ]:
print(ok.lstrip())

w   efff

In [ ]:
he = ",here he comes"
' '.join(he)

', h e r e   h e   c o m e s'

In [ ]:
lists=['1','2','3','4','5']
','.join(lists)

'1,2,3,4,5'

In [ ]:
lists = [1,2,3,4,5,6]
strlist = str(lists)
'"'.join(strlist)

'["1"," "2"," "3"," "4"," "5"," "6"]'

In [ ]:
print(lists[::-1])

[6, 5, 4, 3, 2, 1]

In [ ]:
a = "aaaaaaaaaaaaaaaaaaaaaaGbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbGcccccccccccccccccccccccccccc"
a.replace("G","&")

'aaaaaaaaaaaaaaaaaaaaaa&bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb&cccccccccccccccccccccccccccc'

In [ ]:
a.find("G")

22

In [ ]:
len(a)

87

## - Data Structures

- mutable
- immutable

In [ ]:
a=1,2,3
print(a)
print(type(a))

(1, 2, 3)
<class 'tuple'>

In [ ]:
x=[(1),[2],(3)]
print(type(x))

<class 'list'>

In [ ]:
abc=[3,4,(11,12,13,['rahul','ravi',('man',['sammy','sahu'],98)],56)]
type(abc)
print(abc[2][3][2][1][1])

sahu

In [ ]:
abc.append("hello")
print(abc)

[3, 4, (11, 12, 13, ['rahul', 'ravi', ('man', ['sammy', 'sahu'], 98)], 56), 'hello']

In [ ]:
abc.insert(2,"added")
print(abc)

[3, 4, 'added', (11, 12, 13, ['rahul', 'ravi', ('man', ['sammy', 'sahu'], 98)], 56), 'hello']

In [ ]:
abc.remove(4)
print(abc)

[3, 'added', (11, 12, 13, ['rahul', 'ravi', ('man', ['sammy', 'sahu'], 98)], 56), 'hello']

In [ ]:
abc.pop()
print(abc)

[3, 'added', (11, 12, 13, ['rahul', 'ravi', ('man', ['sammy', 'sahu'], 98)], 56)]

In [ ]:
a=[1,1,12,3,4,5,2,3,1,1,1,3,4,'r',4,3,2]
a.remove(1)
print(type(a))
print(a)

<class 'list'>
[1, 12, 3, 4, 5, 2, 3, 1, 1, 1, 3, 4, 'r', 4, 3, 2]

In [ ]:
a.pop(-3)

4