# Day-1

- setting-up our own environment for different projects.

In [1]:
print("Hello,World")

Hello,World

## PYTHON
- It is Case Sensitive

In [2]:
ord('S')

83

In [3]:
ord('s')

115

In [4]:
ord('sameer')

TypeError: ord() expected a character, but string of length 6 found

### Data Types
- int float bool str

- check data type "print(type(check))"

In [5]:
print(type(0.44))

<class 'float'>

In [6]:
print(type(00.44))

<class 'float'>

In [7]:
print(type(0.4.4))

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2021378794.py, line 1)

In [8]:
print(type(true))

NameError: name 'true' is not defined

In [9]:
print(type(5==5))

<class 'bool'>

In [ ]:
print(type(1,0.44))

TypeError: type() takes 1 or 3 arguments

In [ ]:
print(type(1,0.44,"a"))

TypeError: type.__new__() argument 1 must be str, not int

# Day-2

In [10]:
str1="Sameer"
print(str1[0])

S

In [11]:
print(str1[0:3])

Sam

In [12]:
print(str1[:-7:-1])

reemaS

## Varibles

In [13]:
string1= 123
volume=22
name='Sam'
session=2
ok=4.44

In [14]:
print(name)

Sam

In [15]:
#Override 
a=10
a=11
a=12

print(a)

12

In [16]:
#Print values of 5,10,15 to the variables a b and c at single line
a,b,c =5,10,15

print(a,b,c)

5 10 15

In [17]:
a,b =5,10,15

ValueError: too many values to unpack (expected 2)

In [18]:
a =5,10,15

In [19]:
print(a)

(5, 10, 15)

In [20]:
intro='Hello my name is Sameer. Learning Basics of python'
print(len(intro))

50

### Splice

In [21]:
print(intro[3:16]) #Slice

lo my name is

In [22]:
print(intro.split()) #Split

['Hello', 'my', 'name', 'is', 'Sameer.', 'Learning', 'Basics', 'of', 'python']

In [23]:
name="Thalapathy Vijay"

In [24]:
name[::-1]

'yajiV yhtapalahT'

In [25]:
name[-16:-6]   #'Thalapathy'

'Thalapathy'

- Type Casting: Converting from one data type to another data type

In [26]:
hello= 88

print(float(hello))
print(str(hello))
print(bool(hello))

88.0
88
True

In [ ]:
now= 4.44

print(int(now))
print(str(now))
print(bool(now))

In [ ]:
str1 = "sameer"

print(int(str1))
print(float(str1))

In [ ]:
str1 = "1234"

print(int(str1))
print(float(str1))

In [ ]:
a,b = 45,55
print(a+b)

In [ ]:
a= int(input(print("Give me a number:")))
b= int(input(print('Give me b number:')))
print(f"Sum of {a} and {b}: {a+b}")

- Read about Split,Strip and Join

# Day-3

## Strings

In [ ]:
name = "SAM"
print(name.lower())

sam

In [ ]:
intro = "hello my name is sameer. can i know ur name"
print(intro.capitalize())

Hello my name is sameer. can i know ur name

In [ ]:
print(intro.title())

Hello My Name Is Sameer. Can I Know Ur Name

In [ ]:
print(intro.replace("can i","i want to"))

hello my name is sameer. i want to know ur name

In [ ]:
print(intro.find("sameer"))  #gives index value

17

In [ ]:
a='123'
a.isalpha()

False

In [ ]:
a.isalnum()

True

In [ ]:
ok = "    w   efff   "
print(ok.strip())

w   efff

In [ ]:
print(ok.lstrip())

w   efff

In [ ]:
he = ",here he comes"
' '.join(he)

', h e r e   h e   c o m e s'

In [ ]:
lists=['1','2','3','4','5']
','.join(lists)

'1,2,3,4,5'

In [ ]:
lists = [1,2,3,4,5,6]
strlist = str(lists)
'"'.join(strlist)

'["1"," "2"," "3"," "4"," "5"," "6"]'

In [ ]:
print(lists[::-1])

[6, 5, 4, 3, 2, 1]

In [ ]:
a = "aaaaaaaaaaaaaaaaaaaaaaGbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbGcccccccccccccccccccccccccccc"
a.replace("G","&")

'aaaaaaaaaaaaaaaaaaaaaa&bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb&cccccccccccccccccccccccccccc'

In [ ]:
a.find("G")

22

In [ ]:
len(a)

87

## - Data Structures

- mutable
- immutable

In [ ]:
a=1,2,3
print(a)
print(type(a))

(1, 2, 3)
<class 'tuple'>

In [ ]:
x=[(1),[2],(3)]
print(type(x))

<class 'list'>

In [ ]:
abc=[3,4,(11,12,13,['rahul','ravi',('man',['sammy','sahu'],98)],56)]
type(abc)
print(abc[2][3][2][1][1])

sahu

In [ ]:
abc.append("hello")
print(abc)

[3, 4, (11, 12, 13, ['rahul', 'ravi', ('man', ['sammy', 'sahu'], 98)], 56), 'hello']

In [ ]:
abc.insert(2,"added")
print(abc)

[3, 4, 'added', (11, 12, 13, ['rahul', 'ravi', ('man', ['sammy', 'sahu'], 98)], 56), 'hello']

In [ ]:
abc.remove(4)
print(abc)

[3, 'added', (11, 12, 13, ['rahul', 'ravi', ('man', ['sammy', 'sahu'], 98)], 56), 'hello']

In [ ]:
abc.pop()
print(abc)

[3, 'added', (11, 12, 13, ['rahul', 'ravi', ('man', ['sammy', 'sahu'], 98)], 56)]

In [ ]:
a=[1,1,12,3,4,5,2,3,1,1,1,3,4,'r',4,3,2]
a.remove(1)
print(type(a))
print(a)

<class 'list'>
[1, 12, 3, 4, 5, 2, 3, 1, 1, 1, 3, 4, 'r', 4, 3, 2]

In [ ]:
a.pop(-3)

4

## Day-4

In [7]:
# add 4 to list 1,2,3 with out defining a variable

[1,2,3].append(4)

In [ ]:
a= [1,2,3]
b=[4,5]
a.extend(b) #or a.extend([4,5])
print(a)

[1, 2, 3, 4, 5]

In [11]:
a.clear()
print(a)

[]

In [13]:
tuple= ('a','b','c','d')
print(type(tuple))

<class 'tuple'>

In [ ]:
tuple.remove('a') #.pop(),.append()   .hence tuple is immutable

AttributeError: 'tuple' object has no attribute 'remove'

### Real life use cases of list and tuples
- example, Tuple=Adhaar Card Number & List= Address

In [21]:
tuple=(2,3,4)
print(type(tuple))
b=list(tuple)
print(type(b))
print(b)

<class 'tuple'>
<class 'list'>
[2, 3, 4]

In [22]:
a=[]
print(type(a))

<class 'list'>

In [23]:
a={1,2,3,4}
print(type(a))

<class 'set'>

In [26]:
a[2]

TypeError: 'set' object is not subscriptable

In [30]:
v={12,4,68,3,2,45,1,4}
u={'s','a','b','d','c'}
w={1,3,2,'a','c','b',5,7,4}
print(v)
print(u)
print(w)

{1, 2, 3, 4, 68, 12, 45}
{'s', 'a', 'c', 'd', 'b'}
{1, 2, 3, 4, 5, 7, 'a', 'c', 'b'}

### Difference between List,Tuples and Sets

In [32]:
x=[1,1,1,1,2,2,3,3,4,5,3,2]
y=(1,1,1,1,2,2,2,3,3,4,5,3)
z={1,1,1,1,2,2,2,2,3,3,4,5,5}  #Set does not allow duplicates

print(x,y,z)

[1, 1, 1, 1, 2, 2, 3, 3, 4, 5, 3, 2] (1, 1, 1, 1, 2, 2, 2, 3, 3, 4, 5, 3) {1, 2, 3, 4, 5}

In [38]:
y={1,2,3}
listy =list(y)
listy.append(4)
y=set(listy)
print(y)

{1, 2, 3, 4}

In [39]:
y.add(45)
y

{1, 2, 3, 4, 45}

In [40]:
y.remove(45)
y

{1, 2, 3, 4}

In [41]:
y.pop()
y

{2, 3, 4}

In [42]:
y.pop(1)

TypeError: set.pop() takes no arguments (1 given)

In [44]:
y.clear()
print(y)

set()

In [45]:
x=[1,2]
y=[3,4]

x+y

[1, 2, 3, 4]

In [46]:
x=(1,2)
y=(3,4)

x+y

(1, 2, 3, 4)

In [49]:
x={1,2}
y={3,4}

x+y

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [ ]:
x|y
#or 
x.union(y)

{1, 2, 3, 4}

In [52]:
x={1,2,3}
y={3,4}
x.intersection(y)

{3}

In [53]:
x={1,2,2,3,4,5,6,7}
y={2,3,6,5,4,2,0}

x.difference(y)

{1, 7}

In [54]:
x.symmetric_difference(y)

{0, 1, 7}

In [61]:
print(x)

{1, 2, 3, 4, 5, 6, 7}

In [65]:
r=set()
print(type(r))

TypeError: 'dict' object is not callable

In [55]:
set ={}
type(set)

dict

In [69]:
x={'key':'value',1:88,2:342,3:3213,55:345}
x

{'key': 'value', 1: 88, 2: 342, 3: 3213, 55: 345}

In [70]:
x[55]

345

In [71]:
x['key':3]

TypeError: unhashable type: 'slice'

In [67]:
table={'col1Name':[1,2,3,4,5],'col2Name':[3432,234,435,435,566,323]}
table

{'col1Name': [1, 2, 3, 4, 5], 'col2Name': [3432, 234, 435, 435, 566, 323]}

In [73]:
table['col2Name']

[3432, 234, 435, 435, 566, 323]

In [ ]:
x={1:123,1:124}
x    #Keys can be duplicated but values can be overrided

{1: 124}

In [ ]:
#to add new key and value
x[2]=3435      
x

{1: 124, 2: 3435}

In [77]:
x.remove()

AttributeError: 'dict' object has no attribute 'remove'

In [78]:
x.pop(2)
x

{1: 124}

In [80]:
y={4:1324,7:2345,8:9876}

In [83]:
x.update(y)
x

{1: 124, 4: 1324, 7: 2345, 8: 9876}

In [ ]:
x.keys() #To see every key existed in x

dict_keys([1, 4, 7, 8])

In [86]:
x.values()

dict_values([124, 1324, 2345, 9876])

In [87]:
x.items()

dict_items([(1, 124), (4, 1324), (7, 2345), (8, 9876)])

In [93]:
y={1:123,2:14132,3:1234}
list(y)
type(y)

dict

In [95]:
y=[(1,123),(88,23452)]
dict(y)

{1: 123, 88: 23452}

# Day-5
- Operator

In [ ]:
# Arithmatic Operators (+,-,*,/,//,%,**)


a,b = 12,4

print(a+b)
print(a-b)
print(a*b)
print(a/b)    #division
print(a//b)   #floor division
print(a%b)    #reminder
print(a**b)

16
8
48
3.0
3
0
20736

In [9]:
#Assignment Operator (=,+=,-=,*=,/=,//=,%=,**=)

a=2
a+=2
a

4

In [12]:
#Comparative Operators (==,!=,>,<,<=,>=)

a=33
b=42

print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a<=b)
print(a>=b)

False
True
False
True
True
False

In [13]:
#   (is,is not)

a=250
b=250

a is b

True

In [14]:
a=257
b=257

a is b

False

In [15]:
a=(1,2,3)
b=(1,2,3)

a == b

True

In [16]:
a is b

False

### Reasons
- The variabes stores at different location and here (with is) it will try to compare between the variable
- while == will compare the values

In [18]:
# Membership Operators (in, not in)

a=[1,2,3]
4 in a

False

In [19]:
4 not in a

True

In [22]:
# Logical Operators (and,or)

print(True and True)
print(False and False)
print(False and True)
print(True and False)

True
False
False
False

In [23]:
print(True or True)
print(False or False)
print(False or True)
print(True or False)

True
False
True
True

In [24]:
not (True and False)

True

In [26]:
#Bitwise Operators (&[and],|[or],^[Xor],~[not],<<[left shift],>>[right shift])

## Control Flow Statements

In [ ]:
a=0

if a<0:
    print('a is negative')
elif a==0:
    print('a is zero')
else:
    print('a is positive')

a is negative

In [33]:
a,b,c=1,10,8

if a<b and a<c:
    print('a is small')
elif b<a and b<c:
    print('b is small')
else:
    print('c is small')

a is small

In [41]:
year = 2003

if (year%4 ==0 and year%4 !=100) or (year%400 ==0):
    print('Its a leap year')
else:
    print('not a leap year')

not a leap year

In [ ]:
#not using or

year = 2003

if (year%400 ==0):
    print('Its a leap year')
elif (year%4 ==0 and year%4 !=100):
    print('Its a leap year')
else:
    print('not a leap year')

In [44]:
#not using or,and

year = 1400

if (year%400 ==0):
    print('Its a leap year')
elif (year%4 ==0):
    if (year%100 != 0):
        print('Its a leap year with 100')
    else:
        print('Its not a leap year with 100')
else:
    print('not a leap year')

Its not a leap year with 100

In [ ]:
a=int(input())

if (a%2 ==0):
    print('divide by 2')
elif (a%2 !=0):
    print('not divide by 2')

# Day-6

In [5]:
a=10
while a>=1:
    a-=1
    print(a)

9
8
7
6
5
4
3
2
1
0

In [ ]:
#Loops like for & while are used to run code nth times

a=0
while a<10:
    print(10)
    a+=1

10
10
10
10
10
10
10
10
10
10

In [17]:
num =0

while num<50:
    num+=2
    print(num)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [19]:
num =0

while num<50:
    num+=2
    print(num,end=',')

2,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50,

In [27]:
num =1

while num<=70:
    if num%2==0:
        print(num,end=',')
    num+=1
    if num==50:
        break

2,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,

In [3]:
#Game

import random

x= random.randint(1,10)

In [ ]:
chance=5
while None!=0:
    a=int(input(print('enter your answer')))
    if a==x:
        print("correct answer")
        break
    else:
        print('not correct ans')

enter your answer
not correct ans
enter your answer
not correct ans
enter your answer
not correct ans
enter your answer
not correct ans
enter your answer
not correct ans
enter your answer
not correct ans
enter your answer
not correct ans
enter your answer
not correct ans
enter your answer
not correct ans
enter your answer
not correct ans
enter your answer
not correct ans
enter your answer
not correct ans
enter your answer
correct answer

In [6]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [10]:
for var in range(0,100,5):
    print(var)

0
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95

In [11]:
x='abcd'

for a in x:
    print(a)

a
b
c
d

In [19]:
a = "bangalore"
name=[]
list=[]

for i in a:
    print(f'{i}:{ord(i)}')
    name.append(i)
    list.append(ord(i))

print(name)
print(list)

b:98
a:97
n:110
g:103
a:97
l:108
o:111
r:114
e:101
['b', 'a', 'n', 'g', 'a', 'l', 'o', 'r', 'e']
[98, 97, 110, 103, 97, 108, 111, 114, 101]

In [25]:
for i in range(0,10):
    print(f'5x{i+1}={5*(i+1)}')

5x1=5
5x2=10
5x3=15
5x4=20
5x5=25
5x6=30
5x7=35
5x8=40
5x9=45
5x10=50

In [31]:
sum=0

for i in range(1,6):
    sum+=i
    
print(sum)

15

In [ ]:
# print sum of n numbers with (for , while)
# factorial of number 3 3!=1*2*3