## Built-in Data Types

### Python has the following data types built-in by default, in these categories:
- Text Type: 	str
- Numeric Types: 	int, float, complex
- Sequence Types: 	list, tuple, range
- Mapping Type: 	dict
- Set Types: 	set, frozenset
- Boolean Type: 	bool
- Binary Types: 	bytes, bytearray, memoryview
- None Type: 	NoneType

### Examples

In [2]:
x = "Hello World"
print(x)
print(type(x))

Hello World
<class 'str'>

In [3]:
x = 20
print(x)
print(type(x))

20
<class 'int'>

In [4]:
x = 20.5
print(x)
print(type(x))

20.5
<class 'float'>

In [5]:
x = 1j
print(x)
print(type(x))

1j
<class 'complex'>

In [6]:
x = ["apple", "banana", "cherry"]
print(x)
print(type(x))

['apple', 'banana', 'cherry']
<class 'list'>

In [7]:
x = ("apple", "banana", "cherry")
print(x)
print(type(x))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [8]:
x = ("apple", "banana", "cherry")
print(x)
print(type(x))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [9]:
x = {"name" : "John", "age" : 36}
print(x)
print(type(x))

{'name': 'John', 'age': 36}
<class 'dict'>

In [10]:
x = {"apple", "banana", "cherry"}
print(x)
print(type(x))

{'banana', 'cherry', 'apple'}
<class 'set'>

In [11]:
x = frozenset({"apple", "banana", "cherry"})
print(x)
print(type(x))

frozenset({'banana', 'cherry', 'apple'})
<class 'frozenset'>

In [12]:
x = True
print(x)
print(type(x))

True
<class 'bool'>

In [13]:
x = b"Hello"
print(x)
print(type(x))

b'Hello'
<class 'bytes'>

In [14]:
x = bytearray(5)
print(x)
print(type(x))

bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>

In [15]:
x = memoryview(bytes(5))
print(x)
print(type(x))

<memory at 0x000001896D32DF00>
<class 'memoryview'>

In [16]:
x = None
print(x)
print(type(x))

None
<class 'NoneType'>

In [19]:
print(print())

None

## Python Operators

### Python divides the operators in the following groups:

   - Arithmetic operators
   - Assignment operators
   - Comparison operators
   - Logical operators
   - Identity operators
   - Membership operators
   - Bitwise operators

In [ ]:
#Arithmetic Operators

x,y = 6,4

print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x%y)
print(x**y)
print(x//y)  #Floor division

10
2
24
1.5
2
1296
1

In [33]:
#Assignment Operators

x=8

x+=3
print(x)

x-=3
print(x)

x*=3
print(x)

x/=3
print(x)

x%=3
print(x)

x=8
x//=3
print(x)

x**=3
print(x)

x=8

x &= 3
print(x)

x |= 3
print(x)

x ^= 3
print(x)

x >>= 3
print(x)

x <<= 3
print(x)

print(x := 3)

11
8
24
8.0
2.0
2
8
0
3
0
0
0
3

In [ ]:
# Comparison Operators

'''   
Operator 	Name 	        Example
==      	Equal 	                    x == y 	
!= 	        Not equal    	            x != y 	
> 	        Greater than             	x > y 	
< 	        Less than 	                x < y 	
>=        	Greater than or equal to 	x >= y 	
<=      	Less than or equal to      	x <= y
'''

In [ ]:
#Logical Operators
'''
Operator 	Description 	                                          Example 	
- and   	Returns True if both statements are true       	          x < 5 and  x < 10 	
- or 	    Returns True if one of the statements is true 	          x < 5 or x < 4 	
- not 	    Reverse the result, returns False if the result is true   not(x < 5 and x < 10)
'''

In [ ]:
#Identity Operators
'''
Operator 	Description 	                                            Example
is  	    Returns True if both variables are the same object 	        x is y 	
is not 	    Returns True if both variables are not the same object 	    x is not y

'''

In [ ]:
#Membership Operators

'''
Operator  	Description 	                                                                   Example 
in  	    Returns True if a sequence with the specified value is present in the object 	   x in y 	
not in    	Returns True if a sequence with the specified value is not present in the object   x not in y
'''

In [ ]:
#Bitwise Operators
'''
Operator     	Name 	                   Description 	                                                                                              Example 
&  	            AND 	                   Sets each bit to 1 if both bits are 1                                                                      x & y 	
| 	            OR 	                       Sets each bit to 1 if one of two bits is 1 	                                                              x | y 	
^ 	            XOR 	                   Sets each bit to 1 if only one of two bits is 1 	                                                          x ^ y 	
~ 	            NOT 	                   Inverts all the bits 	                                                                                  ~x 	
<<          	Zero fill left shift 	   Shift left by pushing zeros in from the right and let the leftmost bits fall off 	                      x << 2 	
>>          	Signed right shift 	       Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off 	  x >> 2
'''

In [35]:
a = True
print(not(a))

False

In [39]:
mylist = ['apple', 'banana', 'cherry']
mylist[0] = 'kiwi'
print(mylist)

['kiwi', 'banana', 'cherry']

In [40]:
mylist = ['apple', 'banana', 'cherry']
mylist[1:2] = ['kiwi', 'mango']
print(mylist)

['apple', 'kiwi', 'mango', 'cherry']